aiogram==3.26.0
alembic==1.18.4
asyncpg==0.31.0
cryptography==46.0.5
eth-account==0.13.7
fastapi==0.135.3
fastapi-cloud-cli==0.15.0
fastapi-cli==0.0.24
httpx==0.28.1
lithic==0.115.0
psycopg2-binary==2.9.11
PyJWT==2.12.1
python-dotenv==1.2.1
slowapi==0.1.9
solana[spl]>=0.34.0
solders>=0.21.0
uvicorn==0.42.0
web3==7.10.0
x402==2.4.0
